.btn {
  background: var(--color-principal);
  color: var(--color-fondo);
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background: #95291d;
}