.btn {
  background: #c0392b;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}
#prev{
  display: flex;
  justify-items: right;
}
#next{
  display: flex;
  justify-items: left;
}